@import "/src/styles/colors.scss";
@import "/src/styles/breakpoints.scss";

.button{
    height: 48px;
    width: 287px;
    background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
    background-blend-mode: darken;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    color: $wgray;
    border: 0;
    cursor: pointer;

    &:hover{
       background-color: rgba($color: #000000, $alpha: 0.25);
    }
    &:active{
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
}

.smallest{
    width: 164px;
    border-radius: 4px;
}

.smaller{
    width: 177px;
}

.small{
    width: 250px;
    @media (max-width:$mob){
        width: 320px;
        border-radius: 0;
    }
}

.red{
    background: linear-gradient(90deg, #493013 0%, #7B0C3B 100%);
}

.dark_green{
    background: linear-gradient(90deg, #13493F 0%, #0C7B1B 100%);
}

.blue{
    background: linear-gradient(90deg, #132949 0%, #0C7B67 100%);
}

.purple{
    background: linear-gradient(90deg, #281349 0%, #720C7B 100%);
}