@import "/src/styles/colors.scss";
.mainPage{
height: 100vh;
width: 100vw;
display: flex; 
}
.titlePage{
width: 100%;
display: flex;
}
.sideLine{
background-color: $mblack;
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: center;
padding: 40px 10px 23px 10px;
width: 64px;    
}
.languageButton{
text-align: center;
color: $mgreen;
font-size: 13px;
line-height: 25px;
height: 30px;
width: 30px;
margin-left: 7px;
&:hover{
    color: $wgray;
    border: 1px $wgray solid;
    border-radius: 100px;
}
&:active{
    color: $mgreen;
    border: 1px $wgray solid;
    border-radius: 100px;
}
}
.mainBody{
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 32px 64px;
width: 100%;
}
.bodyTop{
display: flex;
justify-content: space-between;
}
.cityPick{
    display: flex;
}
.cityName{
    color: $dgray;
    margin-left: 7.5px;
}
.motto{
    color: $mgreen;
    font-size: 30px;
    font-weight: bold;
}
.bodyMiddle{
    display: flex;
    flex-direction: column;
}
.middleTopText{
    color: $mblack;
    font-size: 70px;
    font-weight: bold;
    line-height: 66px;
}
.middleText{
    color: $mgreen;
    font-size: 70px;
    font-weight: bold;
    line-height: 66px;
    margin-bottom: 34px;
}
.middleBottomText{
    color: $dgray ;
    font-size: 26px;
    margin-bottom: 60px;
}
.bodyBottom{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.tradeMark{
    color: $dgray;
}
.phone{
    color: $mblack;
    text-decoration: none;
    &:hover{
        color:$mgreen;
    }
    &:active{
        color:$mgreen;
    }
}
