@import "/src/styles/colors.scss";
@import "/src/styles/breakpoints.scss";

.slider{
    position: relative;
    display: flex;
    height: 100vh;
    @media (max-width:$tab){
        display: none;
    }
}
.leftButton{
    position: absolute;
    left: 0;
    width: 64px;
    text-align: center;
    height: 100%;
    cursor: pointer;
    &:hover{
        background-color: rgb(14, 194, 97,0.2);
    }
    @media (max-width:$desk-m){
        width: 32px;
    }  
}
.rightButton{
    position: absolute;
    right: 0;
    width: 64px;
    text-align: center;
    height: 100%;
    cursor: pointer;
    &:hover{
        background-color: rgb(14, 194, 97,0.2);
    }
    @media (max-width:$desk-m){
        width: 32px;
    }
}
.slideWindow{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.allPagesContainer{
    display: flex;
    height: 100%;

    transition: all 0.4s;
}
.sliderDots{
    position: absolute;
    right: 45%;
    bottom: 32px;
    display: flex;
    justify-content: center;
}
.sliderDot{
    border-radius: 8px;
    border:solid $dgray 4px;
    margin-right: 8px;
}
.sliderDotActive{
    border:solid $mgreen 4px;
}
.arrow{
    position: absolute;
    top: 50%;
    left: 37%;
}